/* Hold oversigt css */

h1 {
	text-align: center;
	color: #0d78aa;
	font-size: 2em;
}
caption {
	text-align: center;
	font-weight: bold;
	font-size: 0, 5em;
}
body {
	background-color: #e3faff;
}

th {
	height: 20px;
	background-color: #c9fafe;
}

table {
	background-color: #c9fafe;
	width: 47%;
}

table {
	border: 1px solid #cccccc;
	border-collapse: collapse;
}
td,
th {
	font-size: small;
	padding: 10px;
	border: 1px solid #cccccc;
}
