.tools-grid {
	text-align: center;
	margin-bottom: 0.5em;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

table {
	width: 100%;
}

#right-side-view {
	margin: 2em;
}

#left-side-view {
	margin: 2em;
}

#hold_oversigt {
	overflow: scroll;
}

select {
	border: 0.1px solid black;
	padding: 0.1em;
	margin-bottom: 0.3em;
	text-align: center;
}
