#forventet-kontingent {
	color: green;
	margin-bottom: 0;
}

#manglende-kontingent {
	color: red;
}

#kontingent-oversigt {
	background-color: transparent;
	width: 50%;
	text-align: center;
	justify-content: center;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#left-side-view {
	margin: 2em;
}

#left-side-view table {
	width: 100%;
}

#right-side-view {
	margin: 2em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#right-side-view table {
	width: 100%;
}

select {
	border: 0.1px solid black;
	padding: 0.1em;
	margin-bottom: 0.3em;
	text-align: center;
}
