/* Hold oversigt css */

h1{
    text-align: center;
    color: #0D78AA;
    font-size: 4em;

}
caption{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
body {
    background-color: #E3FAFF;
  }
  
  th {
    height: 50px;
    background-color: #C9FAFE;

  }

  table {
    background-color: #C9FAFE;
    width: 47%;
  }
  
  table {
    border: 1px solid #cccccc;
    border-collapse: collapse;
  }
  td, th {
    padding: 15px;
    border: 1px solid #cccccc;
  }
  
  